body {
    background-image: url(Images/moi6.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 1.15rem;
} 

main {
    border: 5px solid black;
    box-shadow: 5px 5px 5px grey;
    padding: 25px 25px;
    margin: 25px 25px;
    justify-content: center;
    backdrop-filter: blur(7px);
}

img {
    height: 450px;       
    width: 450px;            
    border-radius: 45%;
    object-fit: cover;       
}

h1 {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

h2 {
    color:red;
}

h3 {
    color: yellow;
}

h4 {
    text-decoration: overline;
    color: antiquewhite;
    text-decoration: bold;
}

header {
    text-align: center;
    padding: 20px 0px;
}

nav {
    display: flex;
    justify-content: center; 
    width: 100%;
}

nav ul {
    display: flex;
    gap: 30px;                
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li a {
    border: 3px solid rgba(255, 255, 0, 0.519);
    box-shadow: 2px 2px 2px yellowgreen;
    border-collapse: collapse;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #38bdf8;          
}

.presentation-bloc {
    display: flex;
    align-items: center; 
    gap: 40px; 
    margin-bottom: 30px;
    width: 100%;
}

.presentation-texte {
    flex: 1;
}

#Quel-est-mon-parcours {
    display: flex;
    align-items: flex-start;  /* Aligne le haut des deux blocs */
    gap: 30px;
    margin-bottom: 30px;
}

.parcours-texte, .parcours-diplomes {
    flex: 1;               
    padding: 15px 15px;
    margin: 10px 10px;
}

#Que-sais-je-faire {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.Competences1, .Competences2 {
    flex: 1;               
    padding: 15px 15px;
    margin: 10px 10px;
}

.Competences2{
    padding-top: 100px;
}

#Mes-contacts {
    display: flex;
    justify-content: flex-end; /* Aligne proprement à droite */
    text-decoration: double;
}

#Mes-contacts ul li a{
    color: yellow;
}